header {
    width: auto;
}

img {
  width: 100%;
}


.content {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.footer {
    width: 100%;
}

.icerik {
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 30px;
}

table {
    margin-top: 30px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

  tr {
    background-color: #ffffff;
  }
  

button { 
  width: 100%;
  background-color: #32679b;
}

.responsive {
  height: auto;
}

.content p {
  text-align: center;
  font-size: 20px;
}

@font-face {
  font-family: VisualHollow;
  src: url("font/Visual-Hollow-Script.otf") format("opentype");
}

